<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>vue</title>
    <script src="../js/import/vue.js"></script>
    <style>

    </style>
</head>

<body>
<div id="main">
    <ul id="main_list">
        <li v-for="(item,index) in first_list" :key="item.code">
            {{item.name + " " + item.code}}
            <a @click="append_first_list">append</a>

        </li>
    </ul>
</div>
</body>

<script>
    let main = new Vue({
        el: "#main",
        data: {
            first_list: [{code: 1, name: `一级`, description: `this is first_list`}],
            next_list: [{code: 1, name: `二级`, description: `this is next_list`}],
            last_list: [{code: 1, name: `三级`, description: `this is last_list`}]
        },
        computed: {}, methods: {
            append_first_list() {
                let next_length = this.first_list.length+1;
                let input_data={code: next_length, name: `一级`, description: `this is first_list`}
                this.first_list.push(input_data);
            }
        }
    })

</script>

</html>